@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuración Base de Fuentes */
@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-eras font-bold text-bio-verde;
  }
  
  body {
    @apply bg-bio-fondo text-bio-verde font-cambria;
  }

  /* Clase para negrita en subtítulos Cambria */
  .subtitle {
    @apply font-cambria font-bold;
  }
}